main {
  display: flex;
  flex-direction: column;
}
main img {
  width: 400px;
  height: 600px;
  margin: auto;
  background: black;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
