@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-neutral: #ffffff;
  --color-blue: #a3cef1;
  --color-blue-dark: #022f40ff;
  --color-light-green: #daffedff;
  --color-bright-blue: #9bf3f0ff;
  --color-primary: #005f7a;
  --color-blue-gray: #2e2e2e;

  --border-radius: 5px;

  --size-padding: 20px;

  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Noto Sans', sans-serif;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  line-height: 26px;
}

textarea {
  width: 100%;
}

header {
  background: var(--color-neutral);
  min-height: 70px;
  padding: var(--size-padding);
}

header img {
  min-width: 170px;
  width: 40%;
  max-width: 240px;
}

.navigation {
  width: 100%;
  margin-top: 20px;
}

main {
  margin: 0 auto;
  padding: 20px;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: var(--color-blue-dark);
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '❎';
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  background: var(--color-blue);
  color: var(--color-blue-dark);
}

.navigation a.active {
  color: var(--color-neutral);
  background: var(--color-primary);
  font-weight: bold;
}

.navigation a:hover {
  opacity: 0.9;
  font-weight: bold;
}

.open a {
  display: block;
}

.hero-image {
  height: 55vh;
  position: relative;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image .call-to-action {
  background: white;
  cursor: pointer;
  padding: 15px 25px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
}

.companies-spotlights-advertisements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  height: fit-content;
  background: var(--color-blue);
  color: var(--color-blue-dark);
  padding: 25px;
  text-align: center;
}

footer p:first-child span {
  font-size: 2.5em;
  vertical-align: middle;
}

footer #lastModified {
  margin-top: 10px;
}

img {
  width: 100%;
  object-fit: cover;
}

.discover {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 50px;
}

.discover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 50px;
}

.discover aside {
  grid-row: 2;
}

.discover aside section {
  margin-bottom: 20px;
}

.discover aside section img {
  height: 300px;
}

.discover .gallery-images img {
  height: 300px;
  margin-bottom: 35px;
}

/* form */
.join {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 50px;
}

form {
  width: 50%;
  margin: auto;
}

input {
  width: 100%;
  padding: 4px;
  margin-top: 5px;
}

input[type='submit'] {
  margin-top: 10px;
}

input::placeholder {
  color: var(--color-blue-dark);
}

#formmessage {
  margin-bottom: 10px;
}

#formmessage {
  text-transform: lowercase;
}

#formmessage::first-letter {
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}
.form-group label::after {
  content: '*';
  color: red;
  margin-left: 5px;
}

.form-group:nth-child(1) label::after {
  display: none;
}

.membership-table tr:nth-child(even) {
  background: #bbb;
}

.membership-table {
  width: 100%;
}

.membership-table td {
  text-align: center;
  padding: 5px 10px;
  text-transform: capitalize;
}

.membership-cards {
  margin-bottom: 38px;
  margin-top: 20px;
}

.join {
  grid-gap: 10px;
  grid-column-gap: 70px;
}

.join form {
  width: 100%;
}

/* discover */

.directory .menu {
  height: fit-content;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: var(--color-primary);
  text-align: center;
}

.directory .menu button {
  padding: 1rem;
  font-weight: 700;
}

.directory section {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #fdfeff;
}

.directory .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: baseline;
}

.directory .grid section {
  text-align: center;
}

.directory .grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

.directory .grid section > * {
  margin: 0.1rem;
}

.directory .grid h3 {
  margin: 5px 0px;
}

.directory .list {
  display: flex;
  flex-direction: column;
}

.directory .list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.directory .list section > * {
  margin: 0 1rem;
}

.directory .list section img {
  display: none; /* smaller viewports only */
}

.directory .list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.directory .list section:nth-child(even) {
  background-color: #bed;
}

.directory section h3 {
  font-size: 1.5rem;
}

.directory section p {
  font-weight: 600;
  font-size: smaller;
}

.directory section a {
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

.directory img {
  height: 75px;
  max-width: 100%; /* Images are jerks - Seattle*/
}

.directory a,
.directory p,
.directory h3 {
  word-break: break-all;
}

/* home-page */

.home-page .hero {
  position: relative;
  margin-bottom: 62px;
}

.home-page .hero .call-to-action {
  cursor: pointer;
  background: var(--color-neutral);
  color: var(--color-primary);
  border: 5px solid var(--color-neutral);
  border-radius: 2px;
  font-weight: bold;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;

  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 274px;
}

.home-page .hero .call-to-action:hover {
  border: 5px solid var(--color-primary);
}

.show-banner {
  display: flex !important;
}

#chamber-meet-banner {
  display: none;
  border: 5px solid var(--color-blue);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 55px;
  text-align: center;
  margin: auto;
  margin-bottom: 62px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chamber-meet-banner h2 {
  margin-top: 0;
}

#chamber-meet-banner p {
  margin: 0;
}

.weather-information,
.current-events,
.spotlight-members {
  margin-bottom: 62px;
}

.current-events img {
  object-position: right;
}

.weather-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.weather-information #weather-icon {
  width: 30px;
  margin-right: 5px;
}

.weather-information ul {
  padding: 0;
}

.weather-information ul li {
  font-size: 25px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: baseline;
}

.home-page .card h3 {
  text-transform: capitalize;
}

.home-page .card img {
  height: 280px;
}

.current-events h2 {
  position: relative;
  top: 30px;
}
