@media screen and (min-width: 640px) {
  nav {
    max-width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  main {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .hero-image {
    grid-column: 1/4;
  }

  .current-events {
    grid-column: 1/3;
  }

  .companies-spotlights-advertisements {
    grid-column: 1/4;
  }

  .discover {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-column-gap: 50px;
    grid-template-rows: auto;
  }

  .discover aside {
    grid-row: initial;
  }

  .discover .gallery-images img:hover {
    filter: grayscale(0.7);
  }

  .discover .gallery-images img {
    height: 350px;
  }

  /* form */

  .join {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    grid-column-gap: 70px;
  }

  .join h1 {
    grid-row: 1;
  }

  .join form {
    grid-row: 2;
  }

  .join .membership-cards {
    margin-top: 0px;
    grid-row: 2;
  }

  /* directory */
  .directory {
    min-height: 60vh;
    grid-template-columns: auto;
  }

  /* home-page */

  .home-page {
    display: block;
  }
}

@media screen and (min-width: 1100px) {
  .discover .gallery-images img {
    height: 500px;
  }

  .home-page .current-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-page .current-events .cards {
    width: 80%;
  }
}
