* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --color-neutral: #ffffff;
  --color-blue: #022f40ff;
  --color-light-green: #daffedff;
  --color-bright-blue: #9bf3f0ff;
  --color-primary: #005f7a;
  --color-blue-gray: #2e2e2e;

  --border-radius: 5px;
}

header {
  background: var(--color-blue);
  color: var(--color-neutral);
  padding: 25px;

  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

header img {
  border-radius: var(--border-radius);
}

header span {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: capitalize;
}

nav a {
  color: var(--color-neutral);
  background: var(--color-blue-gray);

  padding: 10px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav a.active {
  background: var(--color-primary);
  font-weight: bold;
}

nav a:hover {
  opacity: 0.9;
}

main {
  padding: 30px;
}

main > h1 {
  border-bottom: var(--color-blue-gray) solid 1px;
  color: var(--color-blue-gray);
  font-style: italic;
  font-size: 1.25em;
  padding-bottom: 12px;
  margin-bottom: 25px;
}

.card {
  margin-top: 10px;
  border-radius: 5px;
  border: var(--color-blue-gray) solid 1px;
}

.card h2 {
  background: var(--color-blue);
  color: var(--color-neutral);
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
}

.card ul,
.card .list-link {
  list-style: none;
  padding: 20px 15px;
  line-height: 26px;
}

.card:last-child ul {
  text-align: center;
  line-height: 35px;
}

footer {
  background: var(--color-blue);
  color: var(--color-neutral);
  padding: 25px;
  text-align: center;
}

footer p:first-child span {
  font-size: 2.5em;
  vertical-align: middle;
}

footer #lastModified {
  margin-top: 10px;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;

  color: black;
  background: white;
  border-radius: 5px;
  padding: 4px;
  line-height: 35px;
}

.hero {
  position: relative;
}

.hero p {
  font-weight: bold;
  background: white;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 43%;
}

iframe {
  margin: auto;
  margin-bottom: 50px;
}
